<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://koalasurvey.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>koalasurvey.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>koalasurvey</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$koalasurvey</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="project1ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:q0nifsojmq.database.windows.net,1433;Initial Catalog=koalasurvey_db;User ID=koala@q0nifsojmq;Password=Bear0000" Name="Data Source=tcp:q0nifsojmq.database.windows.net,1433;Initial Catalog=koalasurvey_db;User Id=koala@q0nifsojmq;Password=Bear0000" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:q0nifsojmq.database.windows.net,1433;Database=koalasurvey_db;User=koala@q0nifsojmq;Password=Bear0000;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\project1ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:q0nifsojmq.database.windows.net,1433;Database=koalasurvey_db;User=koala@q0nifsojmq;Password=Bear0000;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)project1ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:q0nifsojmq.database.windows.net,1433;Initial Catalog=koalasurvey_db;User Id=koala@q0nifsojmq;Password=Bear0000</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>